<nav class="navbar navbar-expand navbar-dark bg-app-navbar" *ngIf="currentUser">
    <a class="navbar-brand" [routerLink]="['/']">
        <img class="navbar-logo" src="../../assets/images/GIF_BROWSING6.png"/>
    </a>
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/favorite']">Favorite</a>
        <a class="nav-item nav-link" [routerLink]="['/history']">History</a>
    </div>
    <a class="nav-item nav-link my-2 my-lg-0 logout" (click)="logout()">Logout</a>
</nav>